body {
  color: #333;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

p,
ul {
  margin: 0;
}

.cargando .vista {
  display: none;
}

/**
 * Grilla
 */
.fila {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

/**
 * Formularios
 */
.campo {
  margin-bottom: 20px;
}

.campo label {
  display: block;
  font-weight: bold;
}

.campo input {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-mensajes {
  display: none;
  background: #f23d4f;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.form-mensajes.exito {
  background: #00a650;
}

/**
 * Menu principal
 */
#main-menu {
  justify-content: space-between;
}

#main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
}

#main-menu li a {
  padding: 10px;
  display: block;
  text-decoration: none;
}
